@media (max-width: 991px) {
    .dots__terapia--desktop {
        display: none;
    }
}
@media (min-width: 991px) {
    .dots__terapia--mobile {
        display: none;
    }
}

@media (min-width: 0px) and (max-width: 820px) {
    .containerCabecera{
        padding-top:0px;
    }
    nav {
        display: none;
    }
}

@media (min-width: 0px) and (max-width: 1210px) {
    .contactoCaja--desktop {
        display: none;
    }
    .contactoCaja--mobile {
        display: block;
    }
}

@media (min-width: 1210px) {
    .contactoCaja--mobile {
        display: none;
    }
}
